# Algoritmos de Optimización - Seminario

Efraín Paucar Castillo

1) Elección de poblaciones homogéneos

Descripción del Problema:
Una productora ganadera nos encarga la tarea de seleccionar grupos de
terneros para aplicar 3 tratamientos diferentes. Para cada uno de los
tratamientos debemos seleccionar 3 grupos de terneros separados por sexos
que sean lo mas homogéneos posible en peso para que en los resultados del
tratamiento influya lo menos posible el peso del animal. Disponemos de una
población de N animales entre machos y hembras

Se solicita diseñar un algoritmo para conseguir una agrupación que cumpla de la
mejor manera posible las especificaciones de la productora.
******************************************************************************

### Respuestas:
¿Cuantas posibilidades hay sin tener en cuenta las restricciones?

    Respuesta: Combinación de N a 3.
    
¿Cual es la estructura de datos que mejor se adapta al problema? 

    Respuesta: La data mínima requerida es una lista de con columnas de: sexo y peso. Sería mejor
               cuando está ordenado por sexo y peso.
    
¿Cual es la función objetivo?

    Respuesta: Encontrar que se encuentran en cada rango (Inferior,Superior), para que sean homogeneos en 3 rangos.
    
¿Es un problema de maximización o minimización?

    Respuesta: Minimizar la distancia entre los integrantes en cada grupo.

In [91]:
#Generando datos aleatorios con media = 35 y desviación estandar = 3.1
import scipy.stats as ss
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#columna 0: sexo
#columna 1: peso
#columna 2: grupo
nodo = dict.fromkeys(['sexo','peso', 'grupo'])
df = pd.DataFrame(columns=nodo)

x = np.random.normal(35, 3.1, size=100)
#x = (x - x.mean()) / x.std()

#sexo: 0 hembra y 1 macho
sexo = np.random.randint(2, size=100)

for i in range(x.size):
    df.at[i,'sexo'] = sexo[i]
    df.at[i,'peso'] = x[i]
    df.at[i,'grupo'] = 0

#número de grupos homogéneos
N = 3

In [92]:
def gruposhomogeneos(df,N):
    #División en grupos por sexo
    
    #Mínimo-Maximo Hembra
    PesoMinH = min(df.peso[df.sexo==0])
    PesoMaxH = max(df.peso[df.sexo==0])
    #Mínimo-Maximo Macho
    PesoMinM = min(df.peso[df.sexo==1])
    PesoMaxM = max(df.peso[df.sexo==1])

    #inicilización límite inferior de grupos
    LimiteH = []
    LimiteM = []
    LimiteH.append(PesoMinH)
    LimiteM.append(PesoMinM)

    for i in range(N):
        LimiteH.append(PesoMinH+(i+1)*(PesoMaxH-PesoMinH)/N)
        LimiteM.append(PesoMinM+(i+1)*(PesoMaxM-PesoMinM)/N)
    #Límite superior
    LimiteH[N]=PesoMaxH+0.001
    LimiteM[N]=PesoMaxM+0.001
    
    for i in range(len(df)):
        for j in range(N):
            #hembras
            if (df.at[i,'sexo']==0):
                if (df.at[i,'peso']>=LimiteH[j]) and (df.at[i,'peso']<LimiteH[j+1]):
                    df.at[i,'grupo']=j+1
            else: #machos
                if (df.at[i,'peso']>=LimiteM[j]) and (df.at[i,'peso']<LimiteM[j+1]):
                    df.at[i,'grupo']=N+j+1
    return df.sort_values(['peso'])

In [93]:
df_grupos=gruposhomogeneos(df,N)

In [95]:
#agrupación de hembras
df_grupos[df_grupos.sexo==0]

   sexo     peso grupo
50    0  29.1403     1
32    0  29.5571     1
42    0  29.6363     1
14    0  29.6443     1
90    0   30.384     1
13    0  30.4337     1
87    0  30.7106     1
30    0  30.7289     1
12    0   30.885     1
93    0  32.2395     1
44    0   32.493     1
36    0  32.6457     1
2     0  32.7829     1
51    0  32.7979     1
46    0  32.9235     1
16    0  33.3661     1
17    0  33.6018     1
37    0  33.7338     2
99    0  33.7883     2
28    0  33.8136     2
40    0  33.8881     2
82    0  33.9418     2
52    0  34.0858     2
85    0  34.1107     2
27    0  34.3252     2
47    0  34.3297     2
57    0  34.4675     2
80    0  34.4697     2
68    0   34.555     2
78    0  34.8397     2
..  ...      ...   ...
11    0  35.0888     2
72    0  35.3662     2
29    0  35.4266     2
58    0  35.4273     2
33    0  35.5594     2
31    0  35.6074     2
43    0  35.8594     2
73    0  35.8943     2
48    0  35.9141     2
53    0  36.1256     2
69    0  36.1532     2
65    0  36.1903     2
62    0  36.2086     2
77    0  36.2152     2
6     0  36.3221     2
23    0  36.4305     2
18    0   36.681     2
74    0  36.7449     2
96    0  36.8731     2
76    0  36.9412     2
70    0  37.0602     2
10    0  37.2441     2
94    0  37.3333     2
64    0  37.6755     2
26    0   37.828     2
83    0  37.8366     2
41    0  37.9809     2
25    0  38.7465     3
56    0  39.1615     3
39    0  42.7118     3

[62 rows x 3 columns]

In [96]:
#agrupación de machos
df_grupos[df_grupos.sexo==1]

   sexo     peso grupo
24    1  28.5957     4
92    1  29.7188     4
71    1  29.7304     4
61    1  30.0058     4
66    1  30.2323     4
4     1  31.6537     4
97    1  31.8642     4
95    1  32.4131     5
9     1  32.5616     5
54    1  32.6111     5
86    1  33.6896     5
89    1  33.8059     5
55    1  33.8386     5
91    1  33.8649     5
19    1  34.2828     5
22    1  34.3497     5
49    1  34.5857     5
67    1  34.9913     5
0     1  35.2399     5
3     1  35.3074     5
15    1   35.342     5
38    1   35.385     5
84    1  35.4866     5
5     1   35.654     5
7     1  35.7805     5
34    1  36.0422     5
75    1  36.2502     6
60    1   36.284     6
1     1  36.4703     6
8     1  36.7091     6
63    1   36.907     6
20    1  37.0158     6
79    1  37.3466     6
35    1  37.3524     6
81    1   37.855     6
98    1  38.0859     6
45    1  38.8488     6
21    1  39.9372     6